/* Add your styles here */
h1 {
  color: #4000ff;
  
}

p {
  color: #64bdb9; /* You can also use hexadecimal color codes */
}



body {
  font-family: Arial, sans-serif;
  background-color: #4e0956;
  margin: 0px;
  padding: 0px;
  
  
}

header, nav, main, footer {
  padding: 20;
  display: flex;
  justify-content: center;  /*might delete */
}

header {
  background-color: #333;
  color: #fff;
  
}

button {
  background-color: #1d4afe; /* Use your preferred color */
  color: #886ac2; /* Set the text color to contrast with the background */
  display: flex;
  justify-content: center;
  
}

button {
  padding: 5px 10px; /* Adjust the values as needed */
  margin: 5px; /* Adjust the values as needed */
  display: flex;
  justify-content: center;
}

button {
  border: none; /* Remove the default border */
  border-radius: 4px; /* Optionally, round the corners */
  display: flex;
  justify-content: center;
}


button:hover {
  background-color: #7bfe1d; /* Use a slightly different color on hover */
  display: flex;
  justify-content: center;
}

button:active {
  background-color: #fefa1d; /* Use a different color on click */
  display: flex;
  justify-content: center;
}

.styled-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: none;
  background-color: #4800ff75;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 4px #ff5e00;
  transition: background-color 0.3 ease;
  display: flex;
  justify-content: center;
}

.styled-button:hover {
  background-color: #fe1d1d;
  display: flex;
  justify-content: center;
}

.styled-button:active {
  background-color: #1dfe5d;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  display: inline-block;
}

nav {
  margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  display: inline-block;
}

ul {
  margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  display: inline-block;
}

.nav  {
  margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  display: inline-block;
}

.ul{
  margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  display: inline-block;
}


.styled-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Set the container height to full viewport height */
  width: 10px
  
}



.styled-button:hover {
  background-color: #681dfe;
  display: flex;
  justify-content: center;
}

.styled-button:active {
  background-color: #e41dfe;
  display: flex;
  justify-content: center;
}






nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin: 10px;}
