/* Add your styles here */

body {
  font-family: Arial, sans-serif;
  background-color: #bebebe;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20;
}

header {
  background-color: #333;
  color: #fff;
}

button {
  background-color: #4CAF50; /* Use your preferred color */
  color: white; /* Set the text color to contrast with the background */
}

button {
  padding: 10px 20px; /* Adjust the values as needed */
  margin: 5px; /* Adjust the values as needed */
}

button {
  border: none; /* Remove the default border */
  border-radius: 4px; /* Optionally, round the corners */
}

button:hover {
  background-color: #45a049; /* Use a slightly different color on hover */
}

button:active {
  background-color: #3e8e41; /* Use a different color on click */
}