/* Add your styles here */

body {
  font-family: Arial, sans-serif;
  background-color: #bebebe;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20;
}

header {
  background-color: #333;
  color: #fff;
}

